<div class="mobile-header">
  <a class="mobile-site-title" href="{{ "/" | relative_url }}">jeanne stock<span>fine art</span></a>
  <a class="site-header__trigger" href="#">Menu</a>
</div>

<header class="site-header" role="banner">
    <a class="site-header__close">X</a>
    <a class="site-title" href="{{ "/" | relative_url }}">jeanne stock<span>fine art</span></a>
  
    <nav class="site-nav">
      <a href="{{ "/" | relative_url }}">Home</a>
      <a href="{{ "/about" | relative_url }}">About Jeanne</a>
      <a href="{{ "/exhibitions" | relative_url }}">Exhibitions</a>
      <!--<a target="_blank" href="http://etsy.com">Store</a>-->
    </nav>
</header>

