<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    <main class="page-content" aria-label="Content">
	    <ul class="home-list">
		{% for pastel in site.pastels reversed %}
			<li>
				<a href="{{ pastel.url | relative_url }}" style="background-image:url({{ pastel.image }});">
				</a>
								<div class="home-list__content">
						<h3>{{ pastel.title }}</h3>
					</div>
			</li>
		{% endfor %}
		</ul>
	</main>
    {% include footer.html %}

  </body>

</html>